<h1>Adding Question to {{ qTitle}}</h1>

<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <mat-card>
                <form (ngSubmit)="addQuestion()">
                <!-- <mat-form-field appearance="outline" class="w100">
                    <mat-label>Write Question Content</mat-label>
                    <textarea required [(ngModel)]="question.content" name="content" matInput placeholder="Enter Question Content Here" rows="5"></textarea>
                  </mat-form-field> -->
                  <!-- [(ngModel)]="question.content"  -->

                  <ckeditor [editor]="Editor"
                  [(ngModel)]="question.content" 
                  name="content"
                   >
                </ckeditor>


                  <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w100">
                            <mat-label>Option1</mat-label>
                            <input required [(ngModel)]="question.option1" name="option1" matInput placeholder="Enter Option1 here">
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w100">
                            <mat-label>Option2</mat-label>
                            <input required [(ngModel)]="question.option2" name="option2" matInput placeholder="Enter Option2 here">
                          </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w100">
                            <mat-label>Option3</mat-label>
                            <input required [(ngModel)]="question.option3" name="option3" matInput placeholder="Enter Option3 here">
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field appearance="outline" class="w100">
                            <mat-label>Option4</mat-label>
                            <input required [(ngModel)]="question.option4" name="option4" matInput placeholder="Enter Option4 here">
                          </mat-form-field>
                    </div>
                </div>


                <mat-form-field appearance="outline" class="w100">
                    <mat-label>Choose Answer</mat-label>
                    <mat-select [(ngModel)]="question.answer" name="answer">
                      <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                      <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                      <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                      <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                <div class="container text-center">
                    <mat-card-actions >
                        <button mat-raised-button color="warn">Add Question</button>
                    </mat-card-actions>
                </div>
            </form>
            </mat-card>
        </div>
    </div>
</div>