      <div class="bootstrap-wrapper">
        <div class="row">
          <div class="col-md-10 offset-md-1">
            <mat-card style="margin-top: 50px;" class="text-center">
              <mat-card-title style="font-family: 'Oooh Baby', cursive;"> Welcome to the exam portal</mat-card-title>
              <mat-card-subtitle>Create Your Account If You are not Alredy Registered otherwise login directly...</mat-card-subtitle>
              <mat-card-actions>
                <button mat-raised-button color="accent">Home</button>
              </mat-card-actions>
            </mat-card>
          </div>
        </div>
      </div>
      
      
     
