<mat-card>
    <mat-card-title class="text-center mt20">Categories</mat-card-title>
    <mat-list>
        <mat-divider></mat-divider>
        
        <mat-list-item *ngFor="let c of categories">
          <mat-icon mat-list-icon>category</mat-icon>
          <div mat-line>{{c.title}}</div>
          <div mat-line>Id:{{c.cid}} &nbsp;&nbsp; description: {{c.description}} </div>       
        </mat-list-item>
    </mat-list>

    <div class="container text-center mt20 " >
      <button mat-raised-button color="accent" style="margin-right: 20px;" routerLink="/admin/addcategory"> Add New Category </button>
      <button mat-raised-button color="accent" routerLink="/admin/deletecategory" > Delete Category </button>
    </div>
</mat-card>